:root{
    --base-color: #2e2e2e;
    --base-variant: #1e1e1e;
    --text-color: rgb(32, 194, 14);
    --secondary-text: rgb(14, 170, 14);
    --primary-color: #3a435d;
    --accent-color: #031d3c;
}

.darkmode{
    --base-color: #f0f0f0;
    --base-variant: #f9f9f9;
    --text-color: #0f0f0f;
    --secondary-text: #0c0c0c;
    --primary-color: rgb(32, 194, 14);
    --accent-color: #0071ff;
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100;
}

body{
    background-color: var(--base-color);
    color: var(--text-color);

    overflow-x: hidden;
}

#theme-switch{
    max-height: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color);
    border-radius: 20%;
    border-color: var(--base-color);
}

#theme-switch svg:first-child{
    fill: slategray;
}

#theme-switch svg:first-child:hover{
    fill:yellow;
    cursor: pointer;
}

#theme-switch svg:last-child{
    fill: slategray;
    display: none;
}

#theme-switch svg:last-child:hover{
    fill: midnightblue;
    cursor: pointer;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

nav{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: sticky;
    top:0;
    background-color:rgb(112, 128, 144,0.1) ;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    width:100%;
}

nav ul li{
    width: 100%;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover{
    background-color:rgb(112, 128, 144,0.4) ;
}

.topnav[data-visible="true"]{
    transform: translateX(0%);
}

.dropdown{
    display: none;
}

.section{
    min-height: 95vh;
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.spacing{
    border: 4px solid transparent;
    margin: 0 10%;
    padding: 10%;
    border-radius: 15%;
    background: 
    linear-gradient(var(--base-variant) 0 0) padding-box,
    linear-gradient(
        145deg,
        red,
        orange 15%,
        yellow 30%,
        green 45%,
        yellow 70%,
        orange 85%,
        red
      ) border-box;
}

.name, .role{
    text-wrap: nowrap;
}

.socials ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.socials li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.skills{
    height: fit-content;
    padding: 20px;
}

.slider{
    width: 100%;
    z-index: -1;
}

.codeLang{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    width: 100%;
    min-height: 200px;
    z-index: -1;
    overflow: hidden;
}

.lang svg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    z-index: -1;
    margin: 10px;
}

.html svg{
    animation-delay: 2.5s;
}

.css svg{
    animation-delay: 5s;
}

.js svg{
    animation-delay: 7.5s;
}

.slider:hover svg{
    animation-play-state: paused;
}

@keyframes autoRun{
    from{
        left: 100%;
    } to {
        left: calc(200px * -4);
    }
}


.project{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid transparent;
    border-radius: 25px;
    background: 
    linear-gradient(var(--base-variant) 0 0) padding-box,
    linear-gradient(
        145deg,
        red,
        orange 15%,
        yellow 30%,
        green 45%,
        yellow 70%,
        orange 85%,
        red
      ) border-box;
    min-height: 50px;
    max-width: 30%;
    color: var(--text-color);
    margin: 20px;
    overflow: hidden;
}

.project:hover{
    zoom: 120%;
}


@media (max-width:600px) {
   .topnav{
        display: flex;
        position: fixed;
        justify-content: right;
        flex-direction: column;

        top: 120px;
        right:20px;

        z-index: 999;

        transform: translateX(130%);
    }

    nav li{
        flex-wrap: wrap;
    }

    nav ul{
        width: fit-content;
    }

    .dropdown{
        display: block;
        position: absolute;
        background-color: var(--base-color);
        border-radius: 20%;
        border-color: var(--base-color);
        aspect-ratio: 1;
        top: 80px;
        right: 20px;
        z-index: 1000;
    }

    #theme-switch{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }
}